ol {
    width: 250px;
    border: 2px solid black;
    padding: 5px;
    list-style-position: inside;
}

li {
    padding: 3px;
    padding-left: 34px;
    margin-bottom: 5px;    
}

li a {
    text-decoration: none;
    color: black;
}

li a:hover {
    text-decoration: underline;
    text-transform: uppercase;
    color: red;    
}

li:last-child {
    margin-bottom: 0;
}

li:nth-child(1) {
    background: url("../pictures/en-GB.png") no-repeat 5px rgba(0,255,0 ,0.75 );
}
li:nth-child(2) {
    background: url("../pictures/es.png") no-repeat 5px rgba(0,0,255 ,0.5 );
}
li:nth-child(3) {
    background: url("../pictures/de.png") no-repeat 5px rgba(255,0,0 ,0.25 );
}
li:nth-child(4) {
    background: url("../pictures/es.png") no-repeat 5px rgba(0,0,255 ,0.5 );
}
li:nth-child(5) {
    background: url("../pictures/de.png") no-repeat 5px rgba(255,0,0 ,0.25 );
}
li:nth-child(6) {
    background: url("../pictures/en-GB.png") no-repeat 5px rgba(0,255,0 ,0.75 );
}